body {
  background-color: #f47a0a;
}
.line-top {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.main_content {
  background-color: white;
  height: 800px;
  width: 450px;
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 15px;
}
.btn-big {
  margin-top: 20px;
  width: 440px;
  height: 25px;
  font-size: 20px;
  background-color: #f1cb9c;
  border: none;
}
#age {
  width: 400px;
  height: 20px;
}
#choice-des {
  width: 400px;
  height: 20px;
}
